<% if(local.swiper) { %>
<div class="swiperWrap">
  <% if(local.swiper.items) { %>
  <ul class="bxslider">
    <% for(let i = 0 ; i < local.swiper.items.length; i++ ){ %>
      <li class="swiper__item">
        <a href="<%= local.swiper.items[i].link %>">
          <img src="<%= local.swiper.items[i].src %>" alt="" title="<%= local.swiper.items[i].slogan %>">
        </a>
      </li>
    <% } %>
  </ul>
  <% } %>
</div>
<% } %>
