<div class="message-box">
  <p>如果您对我们的产品感兴趣，或者我们有什么可以帮助到您的，您可以随时拨打我们的客服电话：13505440969。 您也可以通过点击 在线咨询 在线与我们沟通。当然您也可以在下面给我们留言，我们将热忱为您服务!</p>
  <div class="clearfix">
    <div class="code-box">
      <img width="258" height="258" alt="二维码" src="http://www.shaishaji.com.cn/templets/default/images/2wm.jpg">
    </div>
    <div class="connect-box">
      <strong>联系我们</strong>
      <p>地址：山东省 - 德州市 - 宁津县大尹工业园区</p>
      <p>服务热线：<strong>135 0544 0969</strong></p>
      <div class="online">
        <a href="#" target="_blank" rel="nofollow">现在联系获取最优惠报价</a>
      </div>
      <div class="talk"><a href="#" target="_blank" rel="nofollow">立即咨询</a><a href="#" target="_blank" rel="nofollow">获取报价</a><a href="#" target="_blank" rel="nofollow">投诉建议</a></div> 
    </div>
  </div>
</div>
