<div class="page-box clearfix" id="pageBar" data-total="500">
  <div class="pager">
    <ul class="pagination">
      <li class="prev disabled"><span>上一页</span></li>
      <li class="selected"><a href="/price/def-1_1.html" data-page="0">1</a></li>
      <li><a href="/price/def-1_2.html" data-page="1">2</a></li>
      <li><a href="/price/def-1_3.html" data-page="2">3</a></li>
      <li><a href="/price/def-1_4.html" data-page="3">4</a></li>
      <li><a href="/price/def-1_5.html" data-page="4">5</a></li>
      <li class="next"><a href="/price/def-1_2.html" data-page="1">下一页</a></li>
    </ul>
  </div>
  <span class="page-num">共 500 页</span>
  <span class="jump-page">到第<input type="text" placeholder="1">页</span>
  <span class="button">确定</span>
</div>
