@import './lib/lib-mixins.less';
body{
    color: #fff; 
    width: 600px;
    font-size: 50px;
    line-height: 800px;
    height: 1800px;
    display: flex;
    .a{ 
        .rounded(10px); 
        .background-size(50px 100px); 
        .opacity(1);  
        .appearance(button); 
    }
}