body {
  color: #fff;
  width: 600px;
  font-size: 50px;
  line-height: 800px;
  height: 1800px;
  display: flex;
}
body .a {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-background-size: 50px 100px;
  -moz-background-size: 50px 100px;
  -o-background-size: 50px 100px;
  background-size: 50px 100px;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-appearance: button;
  appearance: button;
}
