.goodsList {
  zoom: 1;
  padding: 0 0 20px 5px;
}
.goodsList:before {
  content: '';
  display: block;
}
.goodsList:after {
  content: '';
  display: table;
  clear: both;
}
.goodsList .goodsList__item {
  float: left;
  overflow: hidden;
  width: 160px;
  margin: 15px 23px 0 15px;
  background: #f8f8f8;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.goodsList .goodsList__pic-wrap {
  display: block;
  width: 160px;
  height: 120px;
}
.goodsList .goodsList__title {
  display: block;
  height: 20px;
  margin: 5px 0 0;
  line-height: 20px;
  text-align: center;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
.goodsList .goodsList__price {
  color: #f33;
}
.goodsList .goodsList__price:before {
  content: '¥';
  color: #f33;
}
.goodsList .goodsList__toolbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 5px;
}
.goodsList .goodsList__toolbar .goodsList__buy {
  color: #f33;
}
