<% if(navBar.navBarLinks) {%>
<div class="navBar">
  <div class="wrapper">
    <div class="navBar__links">
      <% for(var i =0; i < navBar.navBarLinks.length; i++) {%>
      <a href="<%= navBar.navBarLinks[i].link %>" class="navBar__link"><%= navBar.navBarLinks[i].linkText %></a>
      <% } %>
      <!-- <a href="#" class="navBar__link">公司首页</a>
      <a href="#" class="navBar__link">关于我们</a>
      <a href="#" class="navBar__link">产品中心</a>
      <a href="#" class="navBar__link">售后服务</a>
      <a href="#" class="navBar__link">联系我们</a> -->
    </div>
  </div>
</div>
<% } %>
